@import url('https://fonts.cdnfonts.com/css/the-berlin');
@import url('https://fonts.cdnfonts.com/css/rollston');
@import url('https://fonts.cdnfonts.com/css/helmet');
@import url('https://fonts.cdnfonts.com/css/identidad');
@import url('https://fonts.cdnfonts.com/css/lt-neo');
@import url('https://fonts.cdnfonts.com/css/sovranix');
@import url('https://fonts.cdnfonts.com/css/eagle-4');
@import url('https://fonts.cdnfonts.com/css/gt-maru');
@import url('https://fonts.cdnfonts.com/css/nsai');
@import url('https://fonts.cdnfonts.com/css/bolded');
@import url('https://fonts.cdnfonts.com/css/mersad');
@import url('https://fonts.cdnfonts.com/css/karrik');

:root{
    --primary-text-color: black;
    --secondary-text-color: #fdbc68;
    --third-text-color: grey;
    --accent-color: #A6BEAE;
    --accent-dark-color: #D6AEAE;
    --padding-inline-section: 20px;
    --max-width: 1180px;
    --karrik-font: 'Karrik', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    
}

.flex{
    justify-content: center;
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
   
}

li{
    flex-direction: column;
    /* display: inline-flex; */
    margin: 20px;

    
}

.class-parent-flex1{
    /* display: flex; */
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -100px;
    padding-inline: 90px;
    position: relative;
    background-color: #fff6eb;
    /* position: relative; */
    /* position: absolute; */
}

.p1{
    font-family: 'Identidad', sans-serif;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    position: sticky ;
    top: 7vh;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding:  30px 10px 10px 0px;
    background-color: #fff6eb;
    width: 100%;
}

.imt{
    width: 290px;
    height:290px;
    margin-top: -20px;
    margin-left: -14px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
}   

.flx{
    display: flex;
   margin-left: auto;
   margin-right: auto;
}
.txt{
    font-size: 14px;
    margin-top: 12px;
    font-weight: bold;
    margin-left: -10px;
    font-family: var(--karrik-font);
}